body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
/*HEADER TOP NAV*/

.header_nav{
    width: 100%;
    height: 7vh;
    background-color: #69686B;
    display: grid;
    font-weight: 700;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 7vh;
    grid-template-areas:
        "nav-logo . . . . . . . . . . nav-u";
}

.hnav4 {grid-area: nav-u; position: relative;display: inline-block;}
    
.header_link{color: white;text-decoration: none;display: block;}
.hnav_element{color: white;text-align: center;margin: 20px;}
.hnav_logo {grid-area: nav-logo;font-size: 20px;}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
  }

.hnav4:hover > .account_menu{
    display: block;
}

.hnav4 > a{
    color: white;
    text-decoration: none;
}

.account_menu{
    position: absolute;
    z-index: 1;
    top: 25px;
    background-color: white;
    min-width: 150px;
    border: solid 1px black;
    display: none;
    right: 10px;
    overflow: hidden;
}

.acc_menu_option{
    color: black;
    border-bottom: solid 1px black;
    padding: 12px 0px;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: left;
    font-size: 15px;
}

.acc_menu_option:nth-child(2){border-bottom: solid 2px black;}
.acc_menu_option:last-child{border-bottom: none; color: #69686B; font-weight: 700;}
.acc_menu_option:hover {background-color: #dfdfdf;}

.dropdown:hover .dropdown-content {display: block; }

  /*SECTION: OFFERS TABLE*/

.table{
    margin: 100px auto;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    color: #69686B;
}

.tab{
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: center;
    font-weight: 600;   
}

.table_border{ outline: solid 1px black;}
    
/*.row{padding: 2%;}*/
.row > img{width: 200px;height: auto; padding: 0;}
.bg1{background-color: #fff;}

.offer_link{text-decoration: none;color: #69686B;}
.row{padding: 10px;}
.tabti{background-color: #5D5C5E;color: white;padding: 15px;}
.offer_button{
    min-width: 100px;
    min-height: 30px;
    font-size: 15px;
    padding: 10px;
    margin: auto;
    background-color: #69686B;
    border: none;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #fff;
}

/*CAR ACTION*/

.car_title{
    width: 80%;
    min-height: 20px;
    background-color: #69686B;
    color: white;
    padding: 20px;
    margin: 100px auto 30px auto;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.success{
    width: 80%;
    min-height: 20px;
    background-color: green;
    color: white;
    padding: 20px;
    margin: 100px auto -80px auto;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.fail{
    width: 80%;
    min-height: 20px;
    background-color: red;
    color: white;
    padding: 20px;
    margin: 100px auto -80px auto;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.action{
    width: 80%;
    margin: 100px auto -80px auto;
    background-color: gray;
    min-height: 30px;
    color: white;
    display: flex;
    padding: 0;
    text-decoration: none;
    color: white;
}

.action_back{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.action_create{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    
}

.action_create > a{
    padding: 15px;
    text-decoration: none;
    color: white;
}

.car_action_content{
    min-height: 40vh;
    border: solid 1px black;
    width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
}

.car_info_title{grid-column: 1/2; grid-row: 1/2; margin: auto; font-size: 20px;font-weight: 700;}
.car_booking_title{grid-column: 2/3; grid-row: 1/2; margin: auto; font-size: 20px;font-weight: 700;}
.car_info{grid-column: 1/2; grid-row: 2/3;}
.car_booking{grid-column: 2/3; grid-row: 2/3;}
textarea{resize: none;}
.car_data{margin: 15px;}
.car_data > label{font-weight: 700;font-size: 20px;}
.car_data_form{
    width: 90%;
    padding: 10px;
    background-color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.booking{margin: 15px;}
.booking > label{font-weight: 700;font-size: 20px;}
.car_booking_foto{width: 90%; height: auto; margin: 15px;}
.car_booking_form{
    width: 90%;
    padding: 10px;
    background-color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.button_wraper{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;}

.submit_button{
    min-width: 110px;
    min-height: 20px;
    font-size: 12px;
    padding: 10px;
    background-color: #fff;
    border: none;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: #69686B;
    margin: 5px;
}

.deny_button{
    min-width: 110px;
    min-height: 20px;
    font-size: 12px;
    padding: 10px;
    background-color: #69686B;
    border: none;
    font-weight: 700;
    margin: 5px;
    outline: none;
    cursor: pointer;
    color: #fff;
}
    
.get_access{
    margin: 150px auto 30px auto;
    width: 50%;
}

.get_access > form > label{font-weight: 700;font-size: 15px; text-transform: uppercase;}
.get_access > form > div > button{ width: 110px;}
.get_access > form{border: solid 1px black; width: 100%; padding: 25px;}
.input_access{
    width: 90%;
    padding: 10px;
    background-color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px;
}

/*PANEL ADMINISTRACYJNY*/

.panel{
    width: 80%;
    min-height: 700px;
    border: solid 1px black;
    margin: 100px auto 50px auto;
    display: grid;
    grid-template-columns: minmax(150px, 25%) minmax(500px, 75%);
    grid-template-rows: 1fr;
    padding: 15px;
}

.panel_navigation{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    border-right: solid 1px black;
    padding-right: 15px;
}

.panel_option{
    color: black;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-bottom: solid 1px black;
    width: 100%;
    padding: 0px 0px 20px 0px;
}
.panel_option:nth-child(7){border-bottom: none;}
.panel_option:last-child{border-top: solid 1px black; border-bottom: none; padding-top: 20px;}
.panel_title{margin: auto; text-align: center;}
.pan_opt7{grid-column: 1/2; grid-row: 11/12;}

.panel_content{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 15px;
}

.content_info{margin-top: 15px;}
.content_info_input{background-color: white; padding: 5px; width: 95%;}

.form_title{
    text-transform: uppercase;
    border-bottom: solid 1px black;
    padding: 0px 5px 15px 5px;
}